/* Estilo para a barra */
.bar {
    background-color: #f9f9fb;
    padding: 15px;
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
}

/* Estilo para o conteúdo principal */
.content {
    max-width: 1440px;
    margin: auto;
    display: grid;
    grid-gap: 2rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(15rem, 1fr) minmax(9.5fr, 1fr) minmax(15rem, 1fr);
    padding: 0 1rem;
}

/* Estilo para a barra lateral */
.sidebar {
    border-right: 1px solid #cdcdcd;
    padding-right: 20px;
    text-align: center;
    list-style: none;
}

ul {
    list-style-type: none;
}
/* Estilo para as âncoras */
.anchors {
    border-left: 1px solid #cdcdcd;
    padding-left: 20px;
    text-align: center;
    list-style: none;
}

/* Estilo para figuras centralizadas */
figure {
    text-align: center;
}

/* Estilo para a logo */
.logo {
    display: flex;
    align-items: center;
    gap: 2rem;
}

/* Adicione regras de mídia para telas menores */
@media (max-width: 768px) {
    .content {
        grid-template-areas: "main main" "sidebar anchors";
        grid-template-columns: 1fr;
    }

    .sidebar,
    .anchors {
        border: none;
        padding: 0;
        text-align: left;
        list-style-type: none;
    }
}

/* Estilo para o footer */
.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
}

/* Estilo para o conteúdo do footer */
.footer-content {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilo para o logo no footer */
.footer-logo img {
    max-width: 150px; /* Ajuste o tamanho conforme necessário */
}

/* Estilo para os links no footer */
.footer-links ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.footer-links li {
    margin-right: 20px;
}

.footer-links a {
    text-decoration: none;
    color: #0366d6; /* Cor dos links da Wikipedia */
}

/* Estilo para a lista suspensa de idiomas no footer */
.footer-language select {
    padding: 5px;
    border: none;
    background-color: #fff;
    font-size: 14px;
    border-radius: 4px;
}

/* Estilização básica para a figura */
.zoom-effect {
    position: relative;
    overflow: hidden;
    cursor: zoom-in;
}

/* Estilo da legenda (opcional) */
.zoom-effect figcaption {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/* Estilização do contêiner da imagem */
.image-container {
    white-space: nowrap; /* Impede que a imagem seja quebrada em várias linhas */
    overflow-x: scroll; /* Adiciona uma barra de rolagem horizontal quando necessário */
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical quando necessário */
    width: 100%;
    height: 100%;
}

/* Efeito de zoom na imagem quando o mouse passa por cima */
.zoom-effect:hover img {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

/* Exibir a legenda quando o mouse passa por cima */
.zoom-effect:hover figcaption {
    opacity: 1;
}

